/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
:root {
	--red: #81281e;
	--light-red: #bb5752;
	--yellow: #e0a562;
	--brown: #8f5e44;
	--darker-brown: #533727;
	--light-blue: #516cb2;
	--teal: #7aa1b1;
	--lighter-charcoal: #314c57;
	--charcoal: #333f4c;
	--darker-charcoal: #2c323a;
}
body {
	background: var(--yellow);
  color: var(--charcoal);
  font: 300 16px/22px Raleway, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
	width: 960px;
		margin: 0 auto;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
/*
  ========================================
  Typography
  ========================================
*/
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1, h2, h3, h4 {
  color: var(--light-blue);
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: var(--teal);
  font-size: 14px;
  font-weight: 400;
	text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/
a:hover {
  color: var(--darker-brown);
}
a {
  color: var(--brown);
	text-decoration: none;
}
.logo a {
	color: var(--red);
}
.logo a:hover {
	color: var(--darker-brown);
}
p a {
	border-bottom: 1px solid var(--teal);
}
.teaser a:hover h3 {
	color: var(--teal);
}/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Rows
  ========================================
*/
.row,
.row-alt {
	min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
	background: #dce0e5;
	padding: 44px 0 22px 0;
}
/*
  ========================================
  Primary header
  ========================================
*/
.primary-header {
	background-color: var(--yellow);
}
.logo {
  padding: 22px 0 10px 0;
  float: left;
	font-size: 48px;
	line-height: 44px;
	font-family: 'Permanent Marker', cursive;
}
.tagline {
	margin: 44px 0 22px 0;
	text-align: right;
}
/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer {
  padding-bottom: 22px;
	padding-top: 22px;
	color: var(--red);
	font-size: 14px;
}
 /*
  ========================================
  Navigation
  ========================================
*/
.primary-nav {
  font-size: 14px;
  font-weight: 500;
	letter-spacing: .5px;
	text-transform: uppercase;
}
.nav {
  text-align: right;
}
.nav li {
	display: inline-block;
	margin: 0 8px;
	vertical-align: top;
}
.nav li:last-child {
	margin-right: 0;
}
/*
  ========================================
  Home
  ========================================
*/
.hero {
	line-height: 34px;
  padding: 44px 80px 22px 80px;
	text-align: center;
	color: #fff;
}
.hero h2 {
	font-size: 30px;
}
.hero p {
	font-size: 16px;
}
/*
.teaser.col-1-3 {
	background-image: url("img/pancakes.jpg");
	background-color: #000;
	background-size: 600px;
	background-position: center;
	height: 600px;
}
img.teaser {
	display: none;
}
*/
/*
  ========================================
  Recipe pages
  ========================================
*/
.lead {
	text-align: center;
	font-size: 18px;
	line-height: 33px;
}
.recipe-info li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.recipe-info li:last-child {
	margin-right: 0;
}
.recipe-info strong {
	color: #fff;
	font-weight: 300;
}

/*
  ========================================
  Images
  ========================================
*/

img.page {
	width: 500px;
}

img.teaser {
	width: 280px;
	height: 420px;
}